Source: enet
Section: libs
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Gonéri Le Bouder <goneri@rulezlan.org>, Ansgar Burchardt <ansgar@43-1.org>
Build-Depends: debhelper (>= 7.0.50), quilt (>= 0.46-7), autotools-dev, doxygen
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-games/enet.git
Vcs-Browser: http://git.debian.org/?p=pkg-games/enet.git
Homepage: http://enet.bespin.org/

Package: libenet0debian1
Replaces: libenet (<< 1.0-3)
Conflicts: libenet (<< 1.0-3)
Depends: ${misc:Depends}, ${shlibs:Depends}
Architecture: any
Description: thin network communication layer on top of UDP
 ENet's purpose is to provide a relatively thin, simple and robust network
 communication layer on top of UDP (User Datagram Protocol). The primary
 feature it provides is optional reliable, in-order delivery of packets.
 .
 ENet is NOT intended to be a general purpose high level networking library
 that handles authentication, lobbying, server discovery, compression,
 encryption and other high level, often application level or dependent tasks.

Package: libenet-dev
Section: libdevel
Depends: ${misc:Depends}, libenet0debian1 (= ${binary:Version})
Recommends: libenet-doc, libenet0debian1-dbg
Replaces: libenet1-dev (<< 1.2)
Architecture: any
Description: thin network communication layer on top of UDP - headers
 ENet's purpose is to provide a relatively thin, simple and robust network
 communication layer on top of UDP (User Datagram Protocol). The primary
 feature it provides is optional reliable, in-order delivery of packets.
 .
 ENet is NOT intended to be a general purpose high level networking library
 that handles authentication, lobbying, server discovery, compression,
 encryption and other high level, often application level or dependent tasks.
 .
 This package contains the development files.

Package: libenet1-dev
Section: libdevel
Depends: ${misc:Depends}, libenet-dev
Architecture: all
Description: transitional dummy package 
 ENet's purpose is to provide a relatively thin, simple and robust network
 communication layer on top of UDP (User Datagram Protocol). The primary
 feature it provides is optional reliable, in-order delivery of packets.
 .
 ENet is NOT intended to be a general purpose high level networking library
 that handles authentication, lobbying, server discovery, compression,
 encryption and other high level, often application level or dependent tasks.

Package: libenet0debian1-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libenet0debian1 (= ${binary:Version})
Description: thin network communication layer on top of UDP - debug symbols
 ENet's purpose is to provide a relatively thin, simple and robust network
 communication layer on top of UDP (User Datagram Protocol). The primary
 feature it provides is optional reliable, in-order delivery of packets.
 .
 ENet is NOT intended to be a general purpose high level networking library
 that handles authentication, lobbying, server discovery, compression,
 encryption and other high level, often application level or dependent tasks.
 .
 This package contains the debugging symbols for the library.

Package: libenet-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: thin network communication layer on top of UDP - documentation
 ENet's purpose is to provide a relatively thin, simple and robust network
 communication layer on top of UDP (User Datagram Protocol). The primary
 feature it provides is optional reliable, in-order delivery of packets.
 .
 ENet is NOT intended to be a general purpose high level networking library
 that handles authentication, lobbying, server discovery, compression,
 encryption and other high level, often application level or dependent tasks.
 .
 This package includes the documentation.

